* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --cor-fonte-base: #000;
  --cor-fonte-detalhe: rgb(2, 67, 2);
  --cor-botoes: #e49f5a;
  --cor-fundo: #f0d8af;
  --cor-fundo-secundario: #f5f3f1;
  --sombra: rgba(0, 0, 0, 0.4);
}

body {
  background-color: var(--cor-fundo);
}

#container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: var(--cor-fundo-secundario);
  border: dotted 5px var(--cor-botoes);
}

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-bottom: 2px solid var(--cor-botoes);
}

#operador-container {
  color: var(--cor-fonte-detalhe);
  font-size: 14px;
}

h1,
h2 {
  color: var(--cor-fonte-detalhe);
  text-align: center;
  text-transform: uppercase;
}

#principal-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
}

/* Formulário de Cadastro */

.section-formulario {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-formulario p {
  text-align: center;
}

.formulario {
  width: 90%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
  background-color: var(--cor-fonte-detalhe);
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 2px 1px var(--sombra);
  padding: 30px;
  padding-bottom: 20px;
}

.formulario label {
  color: var(--cor-fundo);
}

.formulario input {
  height: 28px;
  border-radius: 5px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.formulario select {
  margin-bottom: 8px;
  height: 28px;
  padding-left: 10px;
}

.secao-cep {
  display: none;
}

#btn-formulario {
  width: 110px;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 2px 1px var(--sombra);
  background-color: var(--cor-fundo);
  margin-left: auto;
  padding: 6px 20px;
  font-weight: bold;
}

#btn-formulario:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  font-size: small;
  padding: 2px 10px;
}

#btn-formulario:hover {
  background-color: var(--cor-botoes);
}

.section-painel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20 px auto;
}

.formulario_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

*#status {
  color: var(--cor-fundo-secundario);
  text-shadow:
    #1a1515 1px 0 0,
    #1a1515 0 1px 0,
    #1a1515 -1px 0 0,
    #1a1515 0 -1px 0;
  font-size: 14px;
}

#status-icon {
  width: 20px;
  height: 20px;
  border: 3px solid var(--cor-botoes);
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: none;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Mensagem de Resultado */

.mensagem-validacao {
  display: none;
}
.mensagem-sucesso {
  width: 90%;
  max-width: 400px;
  color: var(--cor-fonte-detalhe);
  font-weight: bold;
  margin: auto;
  margin-bottom: 0;
  border-radius: 8px;
  border: #62a396 1px solid;
  padding: 10px 20px;
  text-align: center;
  background-color: #c4faef;
  display: none;
}

.mensagem-erro {
  width: 90%;
  max-width: 400px;
  color: rgb(138, 24, 24);
  font-weight: bold;
  margin: auto;
  margin-bottom: 0;
  border-radius: 8px;
  border: #e06262 1px solid;
  padding: 10px 20px;
  text-align: center;
  background-color: #f9c4c4;
}

.section-loading {
  display: none;
  justify-content: center;
  margin-top: 20px;
}

/* Painel de Clientes Cadastrados */

.card-painel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.card-cadastro {
  position: relative;
  list-style: none;
  margin-top: 10px;
  padding: 15px;
  padding-left: 18px;
  width: 225px;
  min-height: 120px;
  border-radius: 10px;
  border: 2px solid var(--cor-botoes);
  box-shadow: 1px 1px 2px 1px var(--sombra);

  overflow: hidden;
}

/* Marcação vertical colorida no lado esquerdo do card*/

.card-cadastro::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 10px;
}

.card-cadastro.gold::before {
  background-color: rgb(229, 202, 46);
  color: rgb(229, 202, 46);
}
.card-cadastro.silver::before {
  background-color: #c0c0c0;
}
.card-cadastro.bronze::before {
  background-color: #cd7f32;
}
.card-cadastro.default::before {
  background-color: gray;
}

.card .card-dados {
  font-size: 12px;
  word-break: break-word;
}

.card-cadastro li:first-child {
  font-size: 12px;
  margin-top: 32px;
}

.card-cadastro li:last-child {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}

.card-nome {
  font-size: 20px;
  font-weight: bold;
}

.avatar-card {
  position: absolute;
  top: 5px;
  left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btn-card {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  font-size: 10px;
  cursor: pointer;
  color: var(--cor-fonte-detalhe);
}

.btn-card:hover {
  color: rgb(138, 24, 24);
}

/* Filtro e Pesquisa */

.filtro-painel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.search-painel label {
  font-weight: bold;
  color: var(--cor-fonte-detalhe);
}

.search-painel input {
  width: 250px;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid var(--cor-botoes);
}

#filtro-tipo {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid var(--cor-botoes);
}

/* Rodapé */

#rodape-container {
  display: flex;
  margin: auto;
  justify-content: center;
}

#rodape-container p {
  color: var(--cor-fonte-detalhe);
  font-size: 14px;
  margin-top: 20px;
}
