* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --cor-fonte-base: #000;
  --cor-fonte-detalhe: rgb(2, 67, 2);
  --cor-botoes: #e49f5a;
  --cor-fundo: #f0d8af;
  --cor-fundo-secundario: #f5f3f1;
  --cor-card-detalhe:var(--cor-botoes); /*essa cor vai ser alterada via JS para trocar o detalhe do card de acordo co o plano*/
  --sombra: rgba(0, 0, 0, 0.4);
}

body {
  background-color: var(--cor-fundo);
}

#container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: var(--cor-fundo-secundario);
  border: dotted 5px var(--cor-botoes);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  border-bottom: 2px solid #e49f5a;
}

h1,
h2 {
  color: var(--cor-fonte-detalhe);
  text-align: center;
  text-transform: uppercase;
}

#principal-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
}

.section-formulario {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-formulario p {
  text-align: center;
}

.formulario {
  width: 90%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
  background-color: var(--cor-fonte-detalhe);
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 2px 1px var(--sombra);
  padding: 30px;
  padding-bottom: 20px;
}

.formulario label {
  color: var(--cor-fundo);
}

.formulario input {
  height: 28px;
  border-radius: 5px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.formulario select {
  margin-bottom: 8px;
  height: 28px;
  padding-left: 10px;
}

#btn-formulario {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 2px 1px var(--sombra);
  background-color: var(--cor-fundo);
  margin-left: auto;
  padding: 6px 20px;
  font-weight: bold;
}

#btn-formulario:hover {
  background-color: var(--cor-botoes);
}

.section-painel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20 px auto;
}

.mensagem-validacao {
  display: none;
}

.card-painel {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.card-cadastro {
  position: relative;
  list-style: none;
  margin-top: 10px;
  padding: 15px;
  padding-left: 23px;
  width: 225px;
  min-height: 120px;
  border: solid 1px var(--cor-card-detalhe);
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px var(--sombra);

  overflow: hidden;
}

/* Marcação vertical colorida no lado esquerdo do card*/
.card-cadastro::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px; 
  background-color: var(--cor-card-detalhe);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 10px;
}

.card .card-dados {
  font-size: 14px;
  word-break: break-word;
}

.card-cadastro li:first-child {
  font-size: 12px;
}

.card-cadastro li:last-child {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}

.card-nome {
  font-size: 20px;
  font-weight: bold;
}

#rodape-container {
  display: flex;
  margin: auto;
}
